<div class="container">
  <div class="profile-card">
    <div class="profile-header">
      <div class="profile-pic">
        <img src="assets/images/default-avatar.png" alt="Profile Picture" />
      </div>
      <h3>{{ user.name }}</h3>
    </div>

    <div class="profile-body">
      <h5 class="section-title">Personal Details</h5>
      <div class="form-grid">
        <div class="form-column">
          <ul class="list-group">
            <li class="list-group-item">
              <span class = 'label'>Username :</span>
              <span class="fw-bold">{{ user.username }}</span>
            </li>
            <li class="list-group-item">
              <span class = 'label'>Email :</span>
              <span class="fw-bold">{{ user.email }}</span>
            </li>
         </ul>
        </div>
        <div class="form-column">
          <ul class="list-group">
            <li class="list-group-item">
              <span class = 'label'>Mobile No :</span>
              <span class="fw-bold">{{ user.mobile }}</span>
            </li>
            <li class="list-group-item">
              <span class = 'label'>Address :</span>
              <span class="fw-bold">{{ user.address }}</span>
            </li>
         </ul>
        </div>
      </div>

      <h5 class="section-title">Account Info</h5>
      <div class="form-grid">
        <div class="form-column">
          <ul class="list-group">
            <li class="list-group-item">
              <span class = 'label'>Member Since :</span>
              <span class="fw-bold">{{ user.joinedDate | date }}</span>
            </li>
          </ul>
        </div>
        <div class="form-column">
          <ul>
            <li class="list-group-item">
              <span class = 'label'>Avg Expense :</span>
              <span class="fw-bold">  ${{ user.avgexp }}</span>
            </li>
         </ul>
        </div>
      </div>

      <div class="btn-container">
        <button class="btn btn-success" routerLink="/profile/edit">
          Edit Profile
        </button>
        <button routerLink="/home" class="btn btn-secondary">Back to Home</button>
      </div>
    </div>

  </div>
</div>
    